<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Layout principal donde controlo las vistas y todo eso -->
    <!-- Configuración básica del documento -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Título del sitio -->
    <title>Control de Mantenimiento</title>

    <!-- Estilos externos -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Iconos de FontAwesome -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <!-- Barra superior de navegación donde se muestra el logo y el usuario -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #d7d8dc;">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <!-- Botón y logo juntos -->
            <div class="d-flex align-items-center">
                <!-- Botón para mostrar/ocultar -->
                <button class="btn btn-sm me-2" id="sidebarToggle" style="background-color: #d7d8dc; color: black;">
                    <i class="fas fa-bars"></i>
                </button>


                <!-- Logo de la aplicación -->
                <a class="navbar-brand ps-1" href="@Url.Action("Inicio", "Home")">
                    <img src="~/images/LCFE.png" style="height: 30px;">
                </a>
            </div>

            <!-- Menú de usuario al extremo derecho -->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user fa-fw"></i>
                        <span class="ms-2">Jose Manuel</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Opciones</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Salir</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>


    <!-- Contenedor principal que divide la barra lateral y el contenido -->
    <div id="layoutSidenav">
        <!-- Barra lateral -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: #008e60;">
                <div class="sb-sidenav-menu">
                    <div class="nav">
 
                        <!-- Enlaces AJAX que cargan contenido dinámicamente sin recargar toda la página
                                así seran todos los botones
                         -->
                        <a href="/Home/Inicio" class="nav-link ajax-link" style="color: white;">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Inicio
                        </a>
                        
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" style="color: white;">
                            <div class="sb-nav-link-icon"><i class="fas fa-tools"></i></div>
                            Mantenimientos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a href="/Home/Agendar" class="nav-link ajax-link" style="color: white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-plus"></i></div>
                                    Agendar Mantenimientos
                                </a>
                                <a href="/Home/AgendarMC" class="nav-link ajax-link" style="color: white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-plus"></i></div>
                                    Agendar Mantenimiento Correctivo
                                </a>
                                <a href="/Home/Agendar" class="nav-link ajax-link" style="color: white;">
                                    <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div>
                                    Terminar Mantenimiento
                                </a>
                            </nav>
                        </div>

                        <a href="/Home/Agendar" class="nav-link ajax-link" style="color: white;">
                            <div class="sb-nav-link-icon"><i class="fas fa-eye"></i></div>
                            Monitoreo de CFEmáticos
                        </a>
                </div>
            </nav>
        </div>

        <!-- Contenido principal del sitio -->
        <div id="layoutSidenav_content">
            <main>
                <div id="contenido-principal">
                    @RenderBody() <!-- Aquí se carga el contenido de cada vista -->
                </div>
            </main>

            <!-- Pie de página -->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts de Bootstrap y otros recursos -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>

    <!-- jQuery para AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Código para que los enlaces con clase 'ajax-link' carguen contenido dinámico en #contenido-principal
        $(document).ready(function () {
            $('.ajax-link').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');

                // Carga solo el contenido del div #contenido-principal de la página destino
                $('#contenido-principal').load(url + ' #contenido-principal > *');
            });
        });
    </script>


   

</body>
</html>

