@{
    ViewData["Title"] = "Agendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-white">
            <h4 class="mb-0">Agenda tus mantenimientos preventivos</h4>
            <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>
        </div>

        <div class="card-body">

            <div class="row mb-4 align-items-end">
                <div class="col-md-4">
                    <label for="inputExcel" class="form-label fw-bold">Cargar archivo Excel:</label>
                    <input class="form-control" type="file" id="inputExcel" />
                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <button class="btn btn-warning me-2" onclick="mostrarDatos()">Mostrar Datos</button>
                    <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                </div>
            </div>

            <hr />

            <div class="table-responsive">
                <table id="tbData" class="table table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Num. Activo Fijo</th>
                            <th>Clave División</th>
                            <th>Clave Zona</th>
                            <th>Clave Agencia</th>
                            <th>Clave Tipo Mtto</th>
                            <th>Fecha Programada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se mostrarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


