@{
    ViewData["Title"] = "Agendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Agenda un mantenimiento</h1>
    <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header"> Cargar Excel</div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>numactfijo</th>
                                    <th>clavedivision</th>
                                    <th>clavezona</th>
                                    <th>claveagencia</th>
                                    <th>clavetipomtto</th>
                                    <th>fechaprogramada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@section Scripts{

    <script>
        function mostrarDatos() {
            const input = document.getElementById("inputExcel");
            const formData = new FormData();
            formData.append("ArchivoExcel", input.files[0]);

            fetch("/Home/MostrarDatos", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                $("#tbData tbody").empty();
                data.forEach(item => {
                    $("#tbData tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.numactfijo),
                            $("<td>").text(item.clavedivision),
                            $("<td>").text(item.clavezona),
                            $("<td>").text(item.claveagencia),
                            $("<td>").text(item.clavetipomtto),
                            $("<td>").text(item.fechaprogramada)
                        )
                    );
                });
            });
        }

         
   
        function enviarDatos() {
            const input = document.getElementById("inputExcel");
            const formData = new FormData();
            formData.append("ArchivoExcel", input.files[0]);

            fetch("/Home/EnviarDatos", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
            });
        }

        
    </script>
}


