@{
    ViewData["Title"] = "Agendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Agenda un mantenimiento</h1>
    <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>
</div>