@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; // <- Asegúrate de que está bien definido
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Bienvenido Jose Manuel</h1>
    <p>Los mantenimientos programados son:.</p>
    <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>


</div>




