@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Bienvenido</h1>
    <p>Los mantenimientos programados son:</p>
    <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>

    <!-- Contenedor de la tabla dentro de una tarjeta estilizada -->
    <div class="card mt-4 shadow-sm rounded">
        <div class="card-body">
            <!-- Tabla que será manejada por DataTables -->
            <table id="tablaServicios" class="table table-hover table-bordered table-striped rounded" style="width: 100%; border-radius: 10px; overflow: hidden;">
                <!--Tabla interna de mantenimientos-->
                <thead style="background-color: #008e60; color: white;">
                    <tr>
                        <th style="width: 20%;">Fecha Programada</th>
                        <th style="width: 25%;">Centro</th>
                        <th style="width: 25%;">Tipo</th>
                        <th style="width: 15%;">Activo Fijo</th>
                        <th style="width: 15%;">Hoja de Servicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09/04/2025</td>
                        <td>San Felipe</td>
                        <td>CFEmatico</td>
                        <td>210900</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>09/04/2025</td>
                        <td>San Felipe</td>
                        <td>CFEmatico</td>
                        <td>090021</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>09/04/2025</td>
                        <td>San Felipe</td>
                        <td>Equipo de computo</td>
                        <td>875422</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>CAR Etla</td>
                        <td>Equipo de computo</td>
                        <td>875661</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>CAR Etla</td>
                        <td>Equipo de computo</td>
                        <td>756434</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>CAR Etla</td>
                        <td>CFEmatico</td>
                        <td>987877</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            
            <table id="tablaServicios" class="table table-hover table-bordered table-striped rounded" style="width:100%">
                <thead style="background-color: #008e60; color: white;">
                    <tr>
                        <th style="width: 20%;">Fecha Programada</th>
                        <th style="width: 20%;">Numero de Inventario</th>
                        <th style="width: 20%;">RPE</th>
                        <th style="width: 25%;">Nombre</th>
                        <th style="width: 15%;">Hoja de Servicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                 <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10/04/2025</td>
                        <td>748392</td>
                        <td>9KL8</td>
                        <td>Jose Manuel Ortiz Santiago</td>
                        <td class="text-center align-middle">
                            <button class="btn btn-sm" style="background-color: #d7d8dc; color: black; border: 1px solid #b0b0b0;" data-bs-toggle="modal" data-bs-target="#modalPdf">
                                <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Modal Bootstrap para mostrar el PDF (por ahora estará vacío) -->
        <div class="modal fade" id="modalPdf" tabindex="-1" aria-labelledby="modalPdfLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <!-- modal-xl para hacerlo grande -->
                <div class="modal-content rounded">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPdfLabel">Hoja de Servicio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí más adelante irá el PDF embebido -->
                        <p>Aquí se mostrará el PDF más adelante.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>





