@{
    ViewData["Title"] = "Agendar CFEcam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-white">
            <h4 class="mb-0">Mantenimiento correctivo a una CFEcam</h4>
            <p>Hoy es: @DateTime.Now.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="numeroEquipo" class="form-label fw-bold">Num. Activo Fijo:</label>
                        <input type="text" class="form-control" id="numeroEquipo" placeholder="Num. Activo Fijo" />
                    </div>
                    <div class="col-md-4">
                        <label for="fecha" class="form-label fw-bold">Fecha Programada:</label>
                        <input type="date" class="form-control" id="fecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-success px-4">Agendar</button>
                </div>
            </form>
        </div>
    </div>
</div>